<!DOCTYPE html>
<html lang="en">
<head>
<title>critico | Responsive Marketo Email and Landing Page Templates</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<!-- Style Sheets -->

<link rel="stylesheet" type="text/css" media="all" href="css/main.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/screen.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/responsive.css"/>
<link rel="stylesheet" type="text/css" media="all" href="css/pricing-faq.css"/>
<link rel="stylesheet" type="text/css" media="all" href="css/checkboxes.css"/>
<link rel="stylesheet" type="text/css" media="all" href="css/howitworks.css"/>


<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">


<!-- Scripts -->
<script src="/js/modernizr-2.6.2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script> 
<script src="/js/particles.js" type="text/javascript"></script>
<script src="/js/pricing.js" type="text/javascript"></script>
<script src="/js/faq.js" type="text/javascript"></script>


<script>
$(window).focus(function() {
document.title = "critico | Responsive Marketo Email and Landing Page Templates";
});

$(window).blur(function() {
document.title = "CRITICO | Responsive Marketo Email and Landing Page Templates";
});
</script>





<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="manifest" href="/img/seo/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/seo/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!-- SEO -->
<meta name="abstract" content="" />
<meta name="revisit-after" content="1" />
<meta name="language" content="EN" />
<meta name="copyright" content="© Critico LLC" />
<meta name="robots" content="All" />
<meta name="author" content="Jeffrey Brown & Brent Levi">
<meta NAME="Language" CONTENT="en">
<meta name="keywords" content="">
<link rel="alternate" href="http://www.critico.io" hreflang="en" />
<meta http-equiv="content-language" content="en">
<meta name="description"  itemprop="description"  content="">
<html itemscope itemtype="">
<meta property="og:url"  itemprop="url" content="http://www.critico.io">
<meta property="og:image"  itemprop="image" content="">
<meta property="og:site_name" content="">
<meta property="og:phone_number" content="">
<meta property="og:email" content="">
<meta property="og:description" content="">
<html itemscope itemtype="">
<meta property="og:image" content="">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Critico",
            "alternateName": "Critico",
            "url": "http://www.critico.io",
            "logo": "",
            "address": {
                "@type": "PostalAddress",
                "addressCountry": "United States",
                "addressLocality": "Cleveland",
                "postalCode": "44125",
                "streetAddress": "",
                "addressRegion": "OH"
            },
            "telephone": "",
            "sameAs": [
                "http://twitter.com/",
                "https://plus.google.com/",
                "https://instagram.com/",
                "https://www.youtube.com/channel/",
                "https://www.linkedin.com/company/",
                "https://www.facebook.com/"
            ],
            "founder": "Jeffrey Brown & Brent Levi",
            "foundingDate": "2017"
        }
    </script>


<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:image" content="img/seo/about.jpg">
<META NAME="Robots" CONTENT="INDEX,FOLLOW">


<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
</head>