<!DOCTYPE html>
<html>
<head>
<title>My Profile | Critico</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="/release/11.7.1016/css/less/theone.css">
<link rel="stylesheet" type="text/css" href="/release/11.7.1016/css/less/pages.css">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">

<!-- Style Sheets -->
<link rel="stylesheet" type="text/css" href="../../css/main.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/app/app-main.css" media="screen" />

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">
<script src="/release/11.7.1016/js/dojo/mccommon.js"></script>
<script type="text/javascript" src="/release/11.7.1016/js/swfobject.js"></script>

</head>


<body class="mcd relative full-height-vh flex flex-col overflow-hidden">
    <div class="novip">
        <div class="main-navigation selfclear" aria-hidden="false" role="navigation" tabindex="0">
            <div class="line selfclear">
                <% include ../../partials/app/dashboard-nav %>
            </div>
        </div>
    </div>
    <div id="slot-campaignChecklistStatusBar"></div>
    <div id="slot-adsChecklistStatusBar"></div>
    <div id="wrap" class="wrap flex overflow-auto-y overflow-hidden-x">
        <div id="main-content" class="main-content mc-content flex flex-col selfclear">
            <div class="lastUnit size1of1 overflow-visible flex-shrink-none">
                <div id="av-flash-block" class="c-flashBlock"> </div>
            </div>
            <div role="main" id="content" class="content selfclear relative">
                <div class="lastUnit size1of1 header account">
                    <h1><%= user.company %></h1>
                    <h4><%= user.email %></h4>
                </div>
                <div class="line local-nav-container">
                    <div class="lastUnit size1of1">
                        <div>
                            <p class="c-menuBarToggle !margin--lv0 full-width padding--lv2 border-top border-bottom font-weight--bold cursor-pointer"> Navigation <span class="freddicon menu-down float-right" role="presentation" aria-hidden="true"></span> </p>
                            <% include ../../partials/app/profile-nav %>
                        </div>
                    </div>
                </div>
                <div class="hide lastUnit size1of1 !margin-bottom--lv8" data-mc-el="linkMctxFeedback">
                    <div class="feedback-block warning section" role="status">
                        <div class="lastUnit size1of1">
                            <div class="c-media">
                                <div class="c-mediaImage v-isFreddicon">
                                    <span class="warn-circle"></span></div>
                                    <div class="c-mediaBody--centered">
                                    <p> Please complete your purchase. Without completing this checkout, your Mandrill account will not be linked to your MailChimp account. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="payment-form" action="/account/billing-plan-post" data-mc-el="form" class="" method="POST" novalidate="novalidate">
                    <div class="line !margin-bottom--lv8">
                        <div class="group size3of4 full-width-mobile">
                            <div class="line">
                                <div class="lastUnit size1of1">
                                    <h2>Edit your billing plan</h2>
                                </div>
                            </div>
                            <div class="line section">
                                <div class="lastUnit size1of1">
                                    <h3>Select a plan</h3>
                                    <ul class="dotted-list topborder list-thick">
                                        <li>
                                            <div class="field-wrapper"> <label class="radio !margin-bottom--lv0"> <input name="billing-plan" value="free" type="radio" checked data-dojo-type="dijit/form/RadioButton" class="av-radio">Forever Free <div class="radio-description">If you have fewer than 2,000 subscribers, you can send up to 12,000 emails per month absolutely free. No expiring trial, contract, or credit card required.
                                             </div> </label> </div>
                                        </li>
                                        <li>
                                            <div class="field-wrapper !margin-bottom--lv3">
                                                <label class="radio !margin-bottom--lv3">
                                                    <input name="billing-plan" value="monthly" type="radio" class="av-radio">Monthly
                                                    <input name="plan_id" type="hidden" value="1306" class="av-hidden" id="plan_id"> 
                                                    <div class="radio-description">
                                                        <p>A once-per-month charge based on the highest number of subscribers and transactional recipients in your account during a 30-day billing period.</p>
                                                        </div>
                                                    </label>
                                                <div class="feedback-block base margin--lv6 !margin-top--lv0 !margin-bottom--lv0 !margin-right--lv0">
                                                    <p class="padding--lv3 full-width"> <span> You currently have <span class="font-weight--bold">0 subscribers</span> which places you in a <span class="font-weight--bold"><span data-usd="10.00"><span class='currency-symbol'>$</span>10.00</span>
                                                        monthly plan.</span> <a href="javascript:;" data-mc-el="monthlyCalcLink">Estimate future cost</a> </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="field-wrapper"> <label class="radio !margin-bottom--lv3"> <input name="billing-plan" value="payg" type="radio" data-dojo-type="dijit/form/RadioButton" class="av-radio">Pay As You Go <div class="radio-description">Designed for infrequent sending, you buy credits (as opposed to recurring charges) as necessary, based on volume.  </div> </label>
                                                <div class="feedback-block base margin--lv6 !margin-top--lv0 !margin-right--lv0">
                                                    <p class="padding--lv3 full-width"> <span class="block !margin-bottom--lv2">If you purchase Pay As You Go credits while on the Forever Free Plan, you are immediately upgraded to a paid plan and any remaining Forever Free credits are not carried over. <a href="http://kb.mailchimp.com/accounts/billing/how-mailchimp-pricing-plans-work?" target="_blank" rel="noopener noreferrer" data-kb-article="/accounts/billing/how-mailchimp-pricing-plans-work">Learn more</a></span>                                                        </p>
                                                </div>
                                            </div>
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="line main-section">
                    <div class="lastUnit size1of1">
                        <h2>Billing information</h2>
                    </div>
                    <div id="current-billing-info">
                        <div class="lastUnit size1of1 sub-section">
                            <mc:flag>
                                <div class="no-data alignc"> <img class="icon" src="/release/11.7.1032/css/icons/no-data/no-sales.svg" role="presentation">
                                    <h2>Looks like you don't have a payment method on file</h2>
                                    <p><a href="javascript:;" data-action="edit-payment-info" class="button p0" role="button">Add a payment method</a></p>
                                </div>
                            </mc:flag>
                        </div>
                        <div class="lastUnit size1of2 sub-section">
                            <h3>Currency</h3>
                            <div>
                                <form method="POST" action="/account/set-currency" novalidate="novalidate">
                                    <fieldset> <label for="currency" class="hide">Switch Currency</label> <select data-mc-el="currency" name="currency" id="currency" class="select-small auto-width"> <option value="us" selected>$ US Dollars</option><option value="euro" >€ Euros</option><option value="pound" >£ British Pounds</option><option value="aud" >A$ Australian Dollar</option><option value="inr" >₹ Indian Rupee</option><option value="nzd" >NZ$ New Zealand Dollar</option><option value="brl" >R$ Brazilian Real</option><option value="dkk" >kr Danish Krone</option><option value="sek" >kr Swedish Krona</option><option value="sgd" >S$ Singapore Dollar</option><option value="zar" >R South African Rand</option><option value="chf" >Fr Swiss Franc</option><option value="mxn" >M$ Mexican Peso</option><option value="cad" >C$ Canadian Dollar</option><option value="hkd" >HK$ Hong Kong Dollar</option><option value="jpy" >¥ Japanese Yen</option> </select>                                        </fieldset> <button type="submit" data-mc-el="currencySaveButton" class="button p0 hide">Save</button> <input type="hidden" name="__csrf_token" id="" value="6d6b5a14630dfcc771af48270fcf0d4958851051" class="av-hidden"></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
