<!DOCTYPE html>
<html lang="en">
<head>
<title>My Dashboard | Critico</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">

<!-- Style Sheets -->
<link rel="stylesheet" type="text/css" href="../../css/main.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/app/app-main.css" media="screen" />

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">

</head>

<body class="mcd relative full-height-vh flex flex-col overflow-hidden">
	<div class="novip">
		<div class="main-navigation selfclear">
			<div class="line selfclear">
				<% include ../../partials/app/dashboard-nav %>
			</div>
		</div>
	</div>
	<div id="wrap" class="wrap flex overflow-auto-y overflow-hidden-x">
		<div id="main-content" class="main-content mc-content flex flex-col selfclear">
			<div role="main" id="content" class="content selfclear relative">
				<div class="size1of1 lastUnit header">
					
					<div class="line main-section dijit-tabs">
						<div class="lastUnit size1of1">
							<div dolayout="false">
								<div class="unit size1of1">
									<div class="lastGroup size1of1">
										<div class="sub-section">
											<div class="line main-section">
												<div></div>
												<div class="line sub-section">
													<div class="size1of1 lastUnit">
													<h3>Email Templates</h3>
												</div>
												<div class="size1of1 lastUnit">
													<div class="v-bg-gray-lightest border-radius--lv2">
														<div class="size2of3 centered lastGroup">
															<div class="c-noDataActionState">
																<div class="c-noDataActionState_image flex-grow-1 centered">
																	<img src="/images/app/email-dashboard-icon.png" width="159" role="presentation" alt="Email Templates">
																</div>
																<div class="c-noDataActionState_action">
																	<h4>Engage your audience</h4>
																	<p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign.</p>
																	<div class="flex c-noDataActionState_buttons">
																			<a class="button p0 margin--lv0 margin-bottom--lv2" href="/app/new-email-template" role="button">Create an Email Template</a>
																			<span class="fwi margin--lv3 margin-top-bottom--lv0 hide-phone">or</span>
																			<a class="button p0 margin--lv0" href="/app/saved-email-templates" role="button">View Saved Templates</a>
																		</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="line sub-section">
													<div class="size1of1 lastUnit">
													<h3>Landing Pages</h3>
												</div>
												<div class="size1of1 lastUnit">
													<div class="v-bg-gray-lightest border-radius--lv2">
														<div class="size2of3 centered lastGroup">
															<div class="c-noDataActionState">
																<div class="c-noDataActionState_image flex-grow-1 centered">
																	<img src="/images/app/lp-dashboard-icon.png" width="150" role="presentation" alt="Landing Page Templates">
																</div>
																<div class="c-noDataActionState_action">
																	<h4>Capture Attention</h4>
																	<p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign.</p>
																	<div class="flex c-noDataActionState_buttons">
																			<a class="button p0 margin--lv0 margin-bottom--lv2" href="" role="button">Create a Landing Page Template</a>
																			<span class="fwi margin--lv3 margin-top-bottom--lv0 hide-phone">or</span>
																			<a class="button p0 margin--lv0" href="" role="button">View Saved Templates</a>
																		</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="line sub-section">
													<div class="size1of1 lastUnit">
													<h3>Form Builder</h3>
												</div>
												<div class="size1of1 lastUnit">
													<div class="v-bg-gray-lightest border-radius--lv2">
														<div class="size2of3 centered lastGroup">
															<div class="c-noDataActionState">
																<div class="c-noDataActionState_image flex-grow-1 centered">
																	<img src="/images/app/form-dashboard-icon.png" width="150" role="presentation" alt="Form Builder">
																</div>
																<div class="c-noDataActionState_action">
																	<h4>Create your first campaign</h4>
																	<p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign.</p>
																	<div class="flex c-noDataActionState_buttons">
																			<a class="button p0 margin--lv0 margin-bottom--lv2" href="" role="button">Create a New Form</a>
																			<span class="fwi margin--lv3 margin-top-bottom--lv0 hide-phone">or</span>
																			<a class="button p0 margin--lv0" href="" role="button">View Saved Forms</a>
																		</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="line alignc margin--lv8 !margin-left-right--lv0 !margin-bottom--lv6 hide-print">
				<div class="lastUnit size1of1">
					<a title="Send better email with Critico" href="/" tabindex="-1" class="inline-block centered footer-scripty no-vip-filter">
					Critico
					</a>
					<p class="small-meta dim-el full-width">&copy; 2017 
						<span>Critico<sup>&reg;</sup>All rights reserved.</span>
						<span class="nowrap link-underline">
							<a class="textcolor no-vip-filter" href="/privacy" target="_blank" tabindex="-1" rel="noopener noreferrer">
							Privacy
							</a> 
							and 
							<a class="textcolor no-vip-filter" href="/terms" target="_blank" tabindex="-1" rel="noopener noreferrer">
							Terms
							</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
