<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Coderthemes">
<link rel="shortcut icon" href="../images/favicon-32x32.png">
<title>My Dashboard | Critico</title>
<link href="../../css/dashboard/switchery.min.css" rel="stylesheet" />
<link href="../../css/dashboard/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/dashboard/style.css" rel="stylesheet" type="text/css" />

<!-- Style Sheets -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/app/app-main.css" media="screen" />


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script src="assets/js/modernizr.min.js"></script>
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
</head>
    <body class="fixed-left">
        <div id="wrapper">
            <% include ../../partials/app/dashboard-nav-top %>
            <% include ../../partials/app/dashboard-nav-left %>
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
							<div class="col-xl-12">
								<div class="page-title-box">
                                    <h4 class="page-title float-left">Your Dashboard</h4>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="card-box">
                                    <div class="c-noDataActionState">
                                        <div>
                                            <h4>Email Template</h4>
                                        </div>
										<div class="c-noDataActionState_image flex-grow-1 centered">
											<img src="/images/app/email-dashboard-icon.png" width="159" role="presentation" alt="Email Templates">
										</div>
										<div class="c-noDataActionState_action">
											<h4>Engage your audience</h4>
											<p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign.</p>
											<div class="flex c-noDataActionState_buttons">
												<a class="button p0 margin--lv0 margin-bottom--lv2" href="/app/new-email-template" role="button">Create an Email Template</a>
												<span class="fwi margin--lv3 margin-top-bottom--lv0 hide-phone">or</span>
												<a class="button p0 margin--lv0" href="/app/saved-email-templates" role="button">View Saved Templates</a>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="card-box">
                                    <div class="c-noDataActionState">
                                        <div>
                                            <h4>Landing Page</h4>
                                        </div>
										<div class="c-noDataActionState_image flex-grow-1 centered">
									        <img src="/images/app/lp-dashboard-icon.png" width="150" role="presentation" alt="Landing Page Templates">
									    </div>
									    <div class="c-noDataActionState_action">
											<h4>Capture Attention</h4>
											<p>Campaigns are emails sent to subscribers in a list. Try your hand at email design by creating and sending a test campaign.</p>
											<div class="flex c-noDataActionState_buttons">
											    <a class="button p0 margin--lv0 margin-bottom--lv2" href="" role="button">Create a Landing Page Template</a>
												<span class="fwi margin--lv3 margin-top-bottom--lv0 hide-phone">or</span>
												<a class="button p0 margin--lv0" href="" role="button">View Saved Templates</a>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer text-right">
                &copy; 2017 <span>Critico - All rights reserved.
            </footer>

        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="../../js/dashboard/jquery.min.js"></script>
        <script src="../../js/dashboard/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="../../js/dashboard/bootstrap.min.js"></script>
        <script src="../../js/dashboard/detect.js"></script>
        <script src="../../js/dashboard/fastclick.js"></script>
        <script src="../../js/dashboard/jquery.blockUI.js"></script>
        <script src="../../js/dashboard/waves.js"></script>
        <script src="../../js/dashboard/jquery.nicescroll.js"></script>
        <script src="../../js/dashboard/jquery.scrollTo.min.js"></script>
        <script src="../../js/dashboard/jquery.slimscroll.js"></script>
        <script src="../../js/dashboard/switchery/switchery.min.js"></script>

        <!-- App js -->
        <script src="../../js/dashboard/jquery.core.js"></script>
        <script src="../../js/dashboard/jquery.app.js"></script>

        <!-- Page specific js -->
        <script src="../../js/dashboard/jquery.dashboard.js"></script>

    </body>
</html>