<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Coderthemes">
<link rel="shortcut icon" href="../images/favicon-32x32.png">
<title>My Dashboard | Critico</title>
<link href="../../css/dashboard/switchery.min.css" rel="stylesheet" />
<link href="../../css/dashboard/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/dashboard/style.css" rel="stylesheet" type="text/css" />

<!-- Style Sheets -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/app/app-main.css" rel="stylesheet">
<link href="../../css/dashboard/bootstrap.min.css" rel="stylesheet">
<link href="../../css/dashboard/bootstrap-theme.min.css" rel="stylesheet">
<link href="../../css/dashboard/bootstrapValidator.min.css" rel="stylesheet">
<link href="../../css/dashboard/critico-icons.css" rel="stylesheet">
<link href="../../css/dashboard/bootstrap-tagsinput.css" rel="stylesheet">
<link href='../../css/dashboard/redesign.css' rel='stylesheet'>
<link href='../../css/dashboard/left_nav.css' rel='stylesheet'>
<link href='../../css/dashboard/clients.css' rel='stylesheet'>
<link href='../../css/dashboard/welcome.css' rel='stylesheet'>
<link href='../../css/dashboard/dashboard.css' rel='stylesheet'>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/dashboard/Promise.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../js/dashboard/bootstrap.min.js"></script>
<script src="../../js/dashboard/bootstrapValidator.min.js"></script>
<script src="../../js/dashboard/jquery.history.js"></script>
<script src="../../js/dashboard/bootstrap-tagsinput.js"></script>
<script src="../../js/dashboard/bootstrap-contextmenu.js"></script>
<script src="../../js/dashboard/jquery.class.min.js"></script>
<script src="../../js/dashboard/config.min.js"></script>

<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/5de09dda2d.css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!--Optimizely-->
<script src="https://cdn.optimizely.com/js/230834568.js"></script>
<!--end Optimizely-->

<script src="assets/js/modernizr.min.js"></script>
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
</head>
    <body class="fixed-left">
        <div id="wrapper">
            <div class="content-page">
            	<% include ../../partials/app/dashboard-navigation-main %>
                <div class="content">
                    <div class="container-fluid">
                    	<h1>Let's look at your <em>saved email templates</em></h1>
                <section id="welcome-notification">
                    <div class="col-sm-2"></div>
                </section>
                <div class="row">
                    <div id="welcome-header" class="col-md-12"></div>
                </div>
                <h4>Select from the following options to get started with your asset</h4>
                        <div class="row">
							<div class="col-xl-12">
								<div class="page-title-box">
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <div class="row">
                            <!-- Canvas -->
							<div id="canvas">
							
							<div id="campaigns" class="disable_selection semi_bold">
								<!-- Top Bar -->
								<div>
									<!-- dropdown -->
									<div id="action" class="semi_bold disable campaigns_action">
										<h3 class="disable">Quick Options <span class="fa fa-caret-down" style="padding-left: 10px"></span></h3>
										<div id="menu_drop_down">
											<div class="delete_multi_campaigns">Delete Selected</div>
										</div>
									</div>
								</div>
			
			<div id="mainWrapper">
				<div id="box_row_titles">
				<!-- Titles of the rows -->
				<div id="row_titles2">
						
					<div id="row_picture" style="width: 54px;"></div>
					<div id="row_name" class="semi_bold">Name</div>
					<div id="row_date" class="semi_bold">Date Created</div>
					<div id="row_date" class="semi_bold">Last Modified</div>
					<div id="row_date" class="semi_bold">Template Used</div>
								
				</div>
				</div>

				<ul id="drafts" class="regular">
					<li data-id="194593" data-nc="">
						<label><input type="checkbox"><a></a></label>
						<input type="text" value="Template 1" class="campaign_name regular" maxlength="30">
						<h4 class="regular">2017/06/20</h4>
						
						<div class="actions semi_bold">
							<div class="delete" name="194593"></div>
							<div class="export" name="194593"></div>
							<div class="marketo" name="194593"></div>
							<div class="duplicate" name="194593"></div>
							<div class="edit" name="194593"></div>
						</div>
					</li>
					<li data-id="194593" data-nc="">
						<label><input type="checkbox"><a></a></label>
						<input type="text" value="Template 2" class="campaign_name regular" maxlength="30">
						<h4 class="regular">2017/06/20</h4>
						
						<div class="actions semi_bold">
							<div class="delete" name="194593"></div>
							<div class="export" name="194593"></div>
							<div class="marketo" name="194593"></div>
							<div class="duplicate" name="194593"></div>
							<div class="edit" name="194593"></div>
						</div>
					</li>
					<li data-id="194593" data-nc="">
						<label><input type="checkbox"><a></a></label>
						<input type="text" value="Template 3" class="campaign_name regular" maxlength="30">
						<h4 class="regular">2017/06/20</h4>
						
						<div class="actions semi_bold">
							<div class="delete" name="194593"></div>
							<div class="export" name="194593"></div>
							<div class="marketo" name="194593"></div>
							<div class="duplicate" name="194593"></div>
							<div class="edit" name="194593"></div>
						</div>
					</li>
					<li data-id="194593" data-nc="">
						<label><input type="checkbox"><a></a></label>
						<input type="text" value="Template 4" class="campaign_name regular" maxlength="30">
						<h4 class="regular">2017/06/20</h4>
						
						<div class="actions semi_bold">
							<div class="delete" name="194593"></div>
							<div class="export" name="194593"></div>
							<div class="marketo" name="194593"></div>
							<div class="duplicate" name="194593"></div>
							<div class="edit" name="194593"></div>
						</div>
					</li>
					<li data-id="194593" data-nc="">
						<label><input type="checkbox"><a></a></label>
						<input type="text" value="Template 5" class="campaign_name regular" maxlength="30">
						<h4 class="regular">2017/06/20</h4>
						
						<div class="actions semi_bold">
							<div class="delete" name="194593"></div>
							<div class="export" name="194593"></div>
							<div class="marketo" name="194593"></div>
							<div class="duplicate" name="194593"></div>
							<div class="edit" name="194593"></div>
						</div>
					</li>
					</ul>
				
				<div class="select_all_checkboxes semi_bold">
					<span>Select All</span>
				</div>
			</div>
		</div>
	</div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer text-right">
                &copy; 2017 <span>Critico<sup>&reg;</sup> All rights reserved.
            </footer>

        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="../../js/dashboard/jquery.min.js"></script>
        <script src="../../js/dashboard/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="../../js/dashboard/bootstrap.min.js"></script>
        <script src="../../js/dashboard/detect.js"></script>
        <script src="../../js/dashboard/fastclick.js"></script>
        <script src="../../js/dashboard/jquery.blockUI.js"></script>
        <script src="../../js/dashboard/waves.js"></script>
        <script src="../../js/dashboard/jquery.nicescroll.js"></script>
        <script src="../../js/dashboard/jquery.scrollTo.min.js"></script>
        <script src="../../js/dashboard/jquery.slimscroll.js"></script>
        <script src="../../js/dashboard/switchery/switchery.min.js"></script>

        <!-- App js -->
        <script src="../../js/dashboard/jquery.core.js"></script>
        <script src="../../js/dashboard/jquery.app.js"></script>

        <!-- Page specific js -->
        <script src="../../js/dashboard/jquery.dashboard.js"></script>
        
        <!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/app/lazyload.js"></script>
		<script type="text/javascript" src="../../js/app/easing.js"></script>
		<script type="text/javascript" src="../../js/app/gravatar.js"></script>
		<script type="text/javascript" src="../../js/app/functions.js"></script>
		<script type="text/javascript" src="../../js/app/dashboard.js"></script>

<script>

$(document).ready(function(){

	//variables
	drafts  = $('#drafts li').size();
	
	//show the number of drafts in the list name bar
	$('#list_name_bar h2 span b').text(drafts);

	//popup value detection
	$(document).on('keyup', '.pop input[type="text"]', function(e){
			
		chars = $(this).val().length;
		
		if(chars < 1){
			
			$('#create_duplicate_campaign, #offline_export, #online_export').removeClass('active');
			
		}
		
		else {
			
			$('#create_duplicate_campaign, #offline_export, #online_export').addClass('active');
			
		}
			
			
	});
	
	//write over none SR compatible icons
	$('[data-nc="1"]').find('.edit').css('background-image','url(../img/icons/view-icon.png)').attr('class','view');

	//check if campaign is empty
	emptyCampaignCheck();
	
});

//empty campaign function
function emptyCampaignCheck() {

	//variables
	drafts_count = $('#drafts li').size();
	sent_count = $('#sent li').size();

	//if drafts are empty
	if(drafts_count < 1) {
		
		//hide information
		$('#drafts, #row_titles2, .select_all_checkboxes').hide();
		
		//append information
		$('#mainWrapper').append('<div class="empty_campaigns regular" style="font-size: 34px; color: #4a4a4a"><a href="../new_campaign/index.php" class="semi_bold" style="padding: 18px 38px; font-size: 13px; margin: auto;">Start a campaign</a></div>');
	
	}
	
	else {
		
		//hide information
		$('#drafts, #row_titles2, .select_all_checkboxes').show();
		
	}
	
}
	
</script>
<script>
	$(document).ready(function(){
    	$("#saved-email-templates-link").addClass( "active" );
    });
</script>
</body>
</html>
