
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 767px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 30px;
    margin-bottom: 14px;
    letter-spacing: -1px;
}

.home .hero-subtitle, .home2 .hero-subtitle, .home3 .hero-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.home .hero-scroll, .home2 .hero-scroll, .home3 .hero-scroll {
    display: none;
}


}




/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 26px;
    margin-bottom: 50px;
    letter-spacing: -1px;
}

.home .hero-subtitle, .home2 .hero-subtitle, .home3 .hero-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.home .hero-scroll, .home2 .hero-scroll, .home3 .hero-scroll {
    display: none;
}

}



/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 46px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.home .hero-subtitle, .home2 .hero-subtitle, .home3 .hero-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.home .hero-scroll, .home2 .hero-scroll, .home3 .hero-scroll {
    display: none;
}

}




/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 64px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.home .hero-subtitle, .home2 .hero-subtitle, .home3 .hero-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
}
}




/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 90px;
    margin-bottom: 50px;
    letter-spacing: -1px;
}
}




/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.home .hero-title, .home2 .hero-title, .home3 .hero-title {
    font-size: 90px;
    margin-bottom: 50px;
    letter-spacing: -1px;
}
}
