<!DOCTYPE html>
<html lang="en">
<head>
<title>Your Critico Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">

<!-- Style Sheets -->
<link rel="stylesheet" type="text/css" href="../../css/app/app-main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/app/mc-styles-1.css">
<link rel="stylesheet" type="text/css" href="../../css/app/mc-styles-2.css">


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/app/lazyload.js"></script>
<script type="text/javascript" src="../../js/app/easing.js"></script>
<script type="text/javascript" src="../../js/app/gravatar.js"></script>
<script type="text/javascript" src="../../js/app/functions.js"></script>
<script type="text/javascript" src="../../js/app/dashboard.js"></script>


<!-- Fonts -->
<script src="https://use.fontawesome.com/03f81593ac.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">

</head>