<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Marketing Assets</li>
                            <li class="has_sub">
                                <a href="/app/dashboard" class="waves-effect">
                                    <i class="zmdi zmdi-view-dashboard"></i><span> Dashboard </span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="zmdi zmdi-email-open"></i> <span> Email Templates </span> <span class="menu-arrow"></span>
                                </a>
                                <ul class="list-unstyled">
                                    <li><a href="/app/new-email-template">Create New Tempate</a></li>
                                    <li><a href="/app/saved-email-templates">Saved Templates</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-airplay"></i> <span> Landing Pages </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/app/new-landing-page">Create New Tempate</a></li>
                                    <li><a href="/app/saved-landing-pages">Saved Templates</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><span class="label label-pill label-warning float-right">Coming Soon!</span><i class="zmdi zmdi-collection-text"></i><span> Forms </span> </a>
                            </li>
                            <li class="text-muted menu-title">Quick Links</li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="zmdi zmdi-account"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="zmdi zmdi-account-box"></i> <span> Account </span> <span class="menu-arrow"></span></a>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="zmdi zmdi-tune"></i> <span> Preferences </span> <span class="menu-arrow"></span></a>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="zmdi zmdi-money-box"></i> <span> Billing </span> <span class="menu-arrow"></span></a>
                            </li>
                            <li class="">
                                <a href="#" class="waves-effect"><i class="zmdi zmdi-memory"></i> <span> Integrations </span> <span class="menu-arrow"></span></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>