<div id="credits" data-subscription="FREE" data-subscription-name="Free Plan" data-trial-days="0" data-trial="1" data-k="pjNGJAEd4k3e8UDufMmti92aIWYvSrx0QH1bBcVnTq7sz6OFwyXlPLKohCZRg5">
				<div class="credits_or_plan semi_bold">
					Bronze Plan<div id="promotionDeal" class="view_bundle_may" style="color: #828282;">Upgrade your Plan</div>			
				</div>
				<div class="subscription-credit-meter"><div class="subscription-credit-fill" style="width: 100%!important"></div>
				</div>		
			</div>