                            <nav class="c-menuBar" aria-label="Account Menu">
                                <ul class="selfclear border-bottom">
                                    <li class="c-menuParent relative font-weight--bold" title="User Profile">
                                        <a class="c-menuParent_link v-menuParent " href="/app/profile">Profile</a>
                                    </li>
                                    
                                    <li class="c-menuParent relative font-weight--bold" title="Account Overview">
                                        <a class="c-menuParent_link v-menuParent " href="/app/account">Account</a>
                                    </li>
                                    
                                    <li class="c-menuParent relative font-weight--bold" title="Account Preferences">
                                        <a class="c-menuParent_link v-menuParent " href="/app/preferences">Preferences</a>
                                    </li>
                                    <li class="c-menuParent relative font-weight--bold" title="Billing Details">
                                        <a class="c-menuParent_link v-menuParent " href="/app/account/billing">Billing</a>
                                    </li>
                                 
                                    <li class="c-menuParent relative font-weight--bold" title="Account Integrations">
                                        <a class="c-menuParent_link v-menuParent " href="/app/integrations">Integrations</a>
                                    </li>
                                </ul>
                            </nav>