<% include ../partials/header %>

<body class="company">
    <div id="nav-anchor"></div>
    <div id="main-nav-wrapper" class="container_body">
    	<div class="inside">
            <% include ../partials/navigation %>
    	</div>
    </div>
    <div class="container_body" id="header" data-bg="customers">
        <div id="particles-js-2"></div>
    	<div class="inside">
    		<h1 class="pricing-header">All About Critico</h1>
    	</div>
    </div>
<div class="container_body about_company_main">
	<div class="inside">
		<h2>Lorem ipsum dolor sit amet consectetur adipiscing</h2>
		<p style="padding-bottom: 25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
		<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="container_body dark" id="core_values" data-bg="values">
	<div class="inside">
		<h1>What We Believe</h1>
		<ul>
			<li><a href="#question" class="question active"> <i></i> </a></li>
			<li><a href="#think" class="think"> <i></i> </a></li>
			<li><a href="#iterate" class="iterate"> <i></i> </a></li>
			<li><a href="#details" class="details"> <i></i> </a></li>
			<li><a href="#design" class="design"> <i></i> </a></li>
			<li><a href="#integrity" class="integrity"> <i></i> </a></li>
		</ul>
		<div class="tab-wrapper">
			<div class="tab active" id="question">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="tab" id="think">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="tab" id="iterate">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="tab" id="details">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="tab" id="design">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="tab" id="integrity">
				<h3>Lorem ipsum dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
			</div>
		</div>
	</div>
</div>

<div class="container_body alt waypoint" id="jobs">
	<div class="inside">
		<h2>Lorem ipsum dolor sit amet, consectetur adipiscing <br />
		elit, sed do eiusmod tempor incididunt</h2>
		<div class="grid-job-features">
			<div class="split">
				<div class="icon anywhere"></div>
				<h3>LOREM IPSUM DOLOR</h3>
				<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div> <!-- split -->
			<div class="split">
				<div class="icon health"></div>
				<h3>LOREM IPSUM DOLOR</h3>
				<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div> <!-- split -->
			<div class="split">
				<div class="icon salary"></div>
				<h3>LOREM IPSUM DOLOR</h3>
				<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div> <!-- split -->
			<div class="split">
				<div class="icon learn"></div>
				<h3>LOREM IPSUM DOLOR</h3>
				<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div> <!-- split -->
		</div>
	</div> <!-- inside -->
</div>




<% include ../partials/footer %>