<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="all" href="css/login.css" />

<body>
	<div class="main-panel">
		<div class="main-panel__table">
			<div class="main-panel__table-cell">
			    <a href="/">
			    <div class="main-panel__logo">
				</div></a>
				<div class="main-panel__switch">
					<span class="main-panel__switch__text">
						Don't have an account?
					</span>
					<a href="/register" class="main-panel__switch__button">
						Get Started
					</a>
				</div>
					<div class="main-panel__content">
						<h1 class="main-panel__heading">
							<span id="login_heading">Forgot your password?</span>
							<small class="main-panel__subheading" id="login_subheading">
								Enter your email address below and we'll get you back on track.
							</small>
						</h1>
						<form class="main-panel__form" action="/forgot.php" method="post" id="forgot-form" novalidate>
							<div class="form__group">
									<label class="form__label" for="email">Email Address</label>
								  <input type="text" required class="form__input cleanup validate-empty " name="email" id="email" value="" placeholder="yourname@xyzdomain.com">
									<span class="highlight"></span>
								<div class="alert alert-error alert-email">Oops! Email is required.</div>
							</div>
							<footer class="text--center">
								<button type="submit" class="form__button">Request Reset Link</button>
								<div>
									<a href="/login" class="sso-alternate">Back to sign in</a>
								</div>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>

	$("#forgot-form").submit(function (e) {
		e.preventDefault();
		var form = $("#forgot-form");
		var emailaddress = $("#email").val();
		    
		$.ajax({
        type: "POST",
        url: "/forgot.php",
        data:JSON.stringify({'emailaddress':emailaddress, 'username':emailaddress}),
        contentType: 'application/json',
        dataType: 'JSON',
        complete: function(response) {
        	var data_response = response.responseText;
        	console.log(data_response);
        	if (data_response.indexOf("required") >= 0) {
        		$('#email').addClass('border_glow_small');
        		$('#login_subheading').text('Oops! Please enter your email address.');
        	}
        	else if (data_response.indexOf("valid") >= 0) {
        		$('#email').addClass('border_glow_small');
        		$('#login_subheading').text('Oops! Please enter a valid email address.');
        	}
        	else if (data_response.indexOf("exists") >= 0) {
        		$('#email').addClass('border_glow_small');
        		$('#login_subheading').text('Oops! No account with that email address exists.');
        	}
        	else if (data_response.indexOf("success") >= 0) {
        		$('#email').removeClass('border_glow_small');
        		$('#login_heading').text('Check Your Email');
        		$('#login_subheading').text('Your reset email should be there shortly!');
        	}
        }     
    	});
	});
	
</script>