<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="all" href="css/login.css" />

<body>
	<div class="main-panel">
		<div class="main-panel__table">
			<div class="main-panel__table-cell">
			    <a href="/">
			    <div class="main-panel__logo">
				</div></a>
				<div class="main-panel__switch">
					<span class="main-panel__switch__text">
						Don't have an account?
					</span>
					<a href="/register" class="main-panel__switch__button">
						Get Started
					</a>
				</div>
					<div class="main-panel__content">
						<h1 class="main-panel__heading">
							<span id="login_heading"ss>Reset Your Critico Password.</span>
							<small class="main-panel__subheading" id="login_subheading">
								Enter your new credentials below.
							</small>
						</h1>
						<form class="main-panel__form" action="/resetpassword.php" method="post" id="reset-form" novalidate>
							<div class="form__group" id="reset_field1">
								<label for="password" class="form__label">New Password</label>
								<input id="password" type="password" name="password" class="form__input" placeholder="Enter your new password" value="" />
							</div>
							<div class="form__group" id="reset_field2">
								<label for="confirm" class="form__label">Confirm New Password</label>
								<input id="confirm" type="password" class="form__input" name="confirm" placeholder="Confirm your new password" />
								
							</div>
							<div class="text--center" id="reset_field3">
								<button class="form__button">Update Password</button>
							</div>
						</form>
						<div class="text--center" id="login_button">
							<a href="/login"><button class="form__button">Login</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>

$(document).ready(function(){
	$('#login_button').hide();
	//function to grab url parameter(s)
		var getUrlParameter = function getUrlParameter(sParam) {
	    	var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;
	
		    	for (i = 0; i < sURLVariables.length; i++) {
		        sParameterName = sURLVariables[i].split('=');
		
		        if (sParameterName[0] === sParam) {
		            return sParameterName[1] === undefined ? true : sParameterName[1];
		        }
	    	}
		};
		// --end--
		
		var token_p = getUrlParameter('res_t');
	
	
	$("#reset-form").submit(function (e) {
		e.preventDefault();
	    var form = $("#reset-form");
    	var password = $("#password").val();
    	var confirm = $("#confirm").val();
    	var token = token_p;

    	$.ajax({
        type: "POST",
        url: "/resetpassword.php",
        data:JSON.stringify({'password':password, 'confirm':confirm, 'token':token}),
        contentType: 'application/json',
        dataType: 'JSON',
        complete: function(response) {
        	var data_response = response.responseText;
        	console.log(data_response);
        	if (data_response.indexOf("required") >= 0) {
        		$('#password').addClass('border_glow_small');
        		$('#confirm').removeClass('border_glow_small');
        		$('#login_subheading').text('Oops! Please enter a new password.');
        	}
        	else if (data_response.indexOf("passwords") >= 0) {
        		$('#password').addClass('border_glow_small');
        		$('#confirm').addClass('border_glow_small');
        		$('#login_subheading').text('Oops! Please make sure new passwords match.');
        	}
        	else if (data_response.indexOf("invalid") >= 0) {
        		$('#password').addClass('border_glow_small');
        		$('#confirm').addClass('border_glow_small');
        		$('#login_subheading').text('Oops! Password reset token is invalid or has expired.');
        	}
        	else if (data_response.indexOf("success") >= 0) {
        		$('#reset_field1').hide();
        		$('#reset_field2').hide();
        		$('#reset_field3').hide();
        		$('#login_button').show();
        		$('#password').removeClass('border_glow_small');
        		$('#confirm').removeClass('border_glow_small');
        		$('#login_subheading').text('You can now login with your new password.');
        		$('#login_heading').text('Your password has been reset!');
        	}
        }     
    	});
	});
});
</script>
