<% include ../partials/header %>

<body>
    <div id="nav-anchor"></div>
    <div id="main-nav-wrapper" class="container_body">
    	<div class="inside">
            <% include ../partials/navigation %>
    	</div>
    </div>
    <div class="container_body" id="header" data-bg="customers">
        <div id="particles-js-2"></div>
    	<div class="inside">
    		<h1 class="pricing-header">Critico Pricing Plans</h1>
    	</div>
    </div>
    <div id="content" class="site-container clear">
            <div class="pricing-table pricing-table-main">
                <div class="pricing-container om-clear">
                    <div class="om-clear">
                        <div class="popular">Most Popular</div>
                        <div class="options">
                            <label for="monthly" class="control control--radio">
                                <input type="radio" name="term" id="monthly" value="monthly" /> Monthly
                                <div class="control__indicator"></div>
                            </label>
                            
                            <label for="annual" class="control control--radio">
                                <input type="radio" name="term" id="annual" value="annual" checked="checked" /> Annual (25% Off)
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                    </div>
                    <div class="pricing-column">
                        <p class="text-center no-margin"><span class="title">Bronze</span></p>
                        <p class="text-center no-margin"><span class="sign">$</span><span class="price">0</span><span class="term">/month<span class="annual-text"></span></span>
                        </p>
                        <div class="pricing-desc">
                            <p class="text-center">"Who doesn't love to try before they buy?"</p>
                            <p class="text-center no-margin"><a href="/register" class="price-button button-green button-medium">Get Started</a></p>
                        </div>
                        <ul class="pricing-features">
                            <li>+ Access to our Email Editor</li>
                            <li>+ 7 Available Modules</li>
                            <li>+ 3 Templates to Create</li>
                            <li>+ User-friendly Reporting</li>
                            <li>+ 1 site</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                        </ul>
                    </div>
                    <div class="pricing-column pricing-basic">
                        <p class="text-center no-margin"><span class="title">Silver</span></p>
                        <p class="text-center no-margin"><span class="sign">$</span><span class="price">60</span><span class="term">/month <span class="annual-text">(billed annually)</span></span>
                        </p>
                        <div class="pricing-desc">
                            <p class="text-center">"An entry tool for those just starting out."</p>
                            <p class="text-center no-margin"><a href="/register?edd_options[price_id]=s14r17" class="price-button button-green button-medium om-price-basic">Get Started</a></p>
                        </div>
                        <ul class="pricing-features">
                            <li>+ 10 Available Modules</li>
                            <li>+ A/B Split Testing</li>
                            <li>+ Page Level Targeting</li>
                            <li>+ User-friendly Reporting</li>
                            <li>+ 1 site</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                        </ul>
                    </div>
                    <div class="pricing-column pricing-plus">
                        <p class="text-center no-margin"><span class="title">Gold</span></p>
                        <p class="text-center no-margin"><span class="sign">$</span><span class="price">90</span><span class="term">/month <span class="annual-text">(billed annually)</span></span>
                        </p>
                        <div class="pricing-desc">
                            <p class="text-center">"Great for growing businesses who want to do more."</p>
                            <p class="text-center no-margin"><a href="/register?edd_options[price_id]=g15d16" class="price-button button-green button-medium om-price-plus">Get Started</a></p>
                        </div>
                        <ul class="pricing-features">
                            <li class="bold_option">Everything in Silver, and:</li>
                            <li>+ Floating Bar</li>
                            <li>+ Sidebar Forms</li>
                            <li>+ After Post / Inline Forms</li>
                            <li>+ Content Locking</li>
                            <li>+ 3 sites</li>
                            <li><a href="#" class="om-show-pricing blue" title="Click here to see all available features"></a></li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                            <li class="hidden">-</li>
                        </ul>
                    </div>
                    <div class="pricing-column pricing-pro last">
                        <p class="text-center no-margin"><span class="title">Platinum</span></p>
                        <p class="text-center no-margin"><span class="sign">$</span><span class="price">120</span><span class="term">/month <span class="annual-text">(billed annually)</span></span>
                        </p>
                        <div class="pricing-desc">
                            <p class="text-center">"Everything you need to get huge results fast."</p>
                            <p class="text-center no-margin"><a href="/register?edd_options[price_id]=p16m15" class="price-button button-green button-medium om-price-pro">Get Started</a></p>
                        </div>
                        <ul class="pricing-features">
                            <li class="bold_option">Everything in Gold, and:</li>
                            <li>+ Exit-Intent Technology</li>
                            <li>+ Referral Detection</li>
                            <li>+ Mobile Specific Forms</li>
                            <li>+ Yes / No Forms</li>
                            <li>+ Slide-in Scroll Boxes</li>
                            <li>+ Smart Canvas Forms</li>
                            <li>+ Full Screen Takeovers</li>
                            <li>+ Campaign Scheduling</li>
                            <li>+ Unlimited Sites</li>
                            <li>+ Priority Support</li>
                            <li class="hidden">-</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a name="faq"></a>
            <div class="pricing-faq">
                <div class="pricing-container om-clear">
                    <div>
                        <h3>So, you might be wondering...</h3>
                        <dl class="panels">
                            <dt class="panel panel-active">
                                <a href="#">
                                    <span><span class="fa fa-chevron-circle-right"></span> Who should use Critico?</span>
                                </a>
                            </dt>
                            <dd class="panel-content">
                                <p>Critico is the <em>best conversion optimization software</em> for internet marketers, bloggers, developers, eCommerce websites, and all other small businesses. If you want to grow your email subscribers and improve
                                    your lead generation efforts, <strong>then you need Critico.</strong></p>
                            </dd><dt class="panel"> <a href="#"> <span><span class="fa fa-chevron-circle-right"></span> What's required to use Critico?</span> </a></dt>
                            <dd class="panel-content">
                                <p>All you need is a working website and you can use Critico. Critico can be used on <strong>any</strong> type of website, and we have specific integrations for website platforms like WordPress.</p>
                            </dd><dt class="panel"> <a href="#"> <span><span class="fa fa-chevron-circle-right"></span> Do I need to have coding skills to use Critico?</span> </a></dt>
                            <dd class="panel-content">
                                <p>Absolutely not - that's the beauty of Critico! Our powerful <strong>conversion optimization software</strong> allows you to customize beautiful optin forms from our large template library without any coding knowledge.</p>
                            </dd><dt class="panel"> <a href="#"> <span><span class="fa fa-chevron-circle-right"></span> Do you offer a free trial?</span> </a></dt>
                            <dd class="panel-content">
                                <p>No, we do not offer a free trial, but we do have a no-questions asked 14-day money back guarantee.</p>
                            </dd><dt class="panel"> <a href="#"> <span><span class="fa fa-chevron-circle-right"></span> Can I use Critico on client sites?</span> </a></dt>
                            <dd class="panel-content">
                                <p>Yes, you can use Critico on client sites. If you're interested in distributing Critico as part of your consulting package, then please contact us for bulk-pricing deals.</p>
                            </dd><dt class="panel"> <a href="#"> <span><span class="fa fa-chevron-circle-right"></span> Do you offer Enterprise plans?</span> </a></dt>
                            <dd class="panel-content">
                                <p>Yes, we do have various Enterprise plans based on pageview volume.</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>